@using Entities.Concreate.ViewModels;
@model UserPasswordUpdateDTO
<form asp-action="UpdatePassword">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="OldPassword" class="control-label">Eski Şifre</label>
        <input asp-for="OldPassword" class="form-control" />
        <span asp-validation-for="OldPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="NewPassword" class="control-label">Yeni Şifre</label>
        <input asp-for="NewPassword" class="form-control" />
        <span asp-validation-for="NewPassword" class="text-danger"></span>
    </div>

    <br />


    <div class="form-group">
        <input type="submit" value="UpdatePassword" class="btn btn-primary" />
    </div>
</form>

    @Html.Raw(TempData["UpdatePassword"])

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
