

<form asp-asp-controller="Ticket" asp-action="TicketControl">

    <input type="number" name="EventId"  />
    <input type="text" name="UserName" />
    <input class="btn btn-primary" type="submit" value="Kontrol Et" />

</form>
@ViewBag.Info