@using Entities.Concreate.ViewModels;
@model List<CityListDTO>

<h4>Şehirler</h4>
<div class="table">

</div>


    @foreach(var item in Model)
    {

        
                <div class="card w-75 mb-3">
                    <div class="card-body">
                        <h5 class="card-title">@item.Name</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a asp-controller="City" asp-action="EventsOfCity" asp-route-id="@item.CityID" class="btn btn-success">Bilet Al</a>
                    </div>
                </div>
          
    }

   



